USE [master]
GO
/****** Object:  Database [markDb]    Script Date: 01/09/2025 1:59:10 am ******/
CREATE DATABASE [markDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PetShopDb', FILENAME = N'D:\PetShopDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PetShopDb_log', FILENAME = N'D:\PetShopDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [markDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [markDb]
GO
/****** Object:  Table [dbo].[BillTbl]    Script Date: 01/09/2025 1:59:10 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillTbl](
	[BNum] [int] IDENTITY(1,1) NOT NULL,
	[BDate] [date] NOT NULL,
	[CustId] [int] NOT NULL,
	[CustName] [varchar](50) NOT NULL,
	[EmpName] [varchar](50) NOT NULL,
	[Amt] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeTbl]    Script Date: 01/09/2025 1:59:10 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeTbl](
	[EmpNum] [int] IDENTITY(1,1) NOT NULL,
	[EmpName] [varchar](50) NOT NULL,
	[EmpAdd] [varchar](100) NOT NULL,
	[EmpDOB] [date] NOT NULL,
	[EmpPhone] [varchar](50) NOT NULL,
	[EmpPass] [varchar](20) NOT NULL,
	[EmpRole] [varchar](50) NOT NULL,
	[EmpEmail] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTbl]    Script Date: 01/09/2025 1:59:10 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTbl](
	[PrId] [int] IDENTITY(1,1) NOT NULL,
	[PrName] [nvarchar](100) NULL,
	[PrCat] [nvarchar](50) NULL,
	[PrQty] [int] NOT NULL,
	[PrPrice] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[CurrentStock] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PrId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ProductTbl_PrName] UNIQUE NONCLUSTERED 
(
	[PrName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 01/09/2025 1:59:10 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[BillId] [nvarchar](50) NULL,
	[ProductName] [nvarchar](50) NULL,
	[Quantity] [int] NULL,
	[AmountPaid] [decimal](18, 0) NULL,
	[Change] [decimal](18, 0) NULL,
	[CashierName] [nvarchar](50) NULL,
	[DateOfTransaction] [date] NULL,
	[Price] [decimal](18, 0) NULL,
	[SubTotal] [decimal](18, 0) NULL,
	[GrandTotal] [decimal](18, 0) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmployeeTbl] ADD  DEFAULT ('Cashier') FOR [EmpRole]
GO
ALTER TABLE [dbo].[ProductTbl] ADD  CONSTRAINT [DF_ProductTbl_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
USE [master]
GO
